body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
   background-image: url('1.jpg'); /* Ganti 'background.jpg' dengan path ke gambar latar belakang Anda */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
}

input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
